Importing MySQL Connector and connecting to LittleLemonDB database

In [1]:
import mysql.connector as connector

In [10]:
connection = connector.connect(user = "admin1", password = "password", db ="LittleLemonDB")

Creating a cursor object

In [11]:
cursor = connection.cursor()

Creating a query to test connection that shows all tables in database and fetching results

In [5]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [6]:
results = cursor.fetchall()
print(results)

[('Bookings',), ('Customers',), ('Employees',), ('Menu',), ('Orders',), ('ordersview',)]

Query that retrieves the names, phone numbers, and emails of customers who spent at least 60.00 on their orders

In [27]:
customer_promotion_query = """
SELECT CONCAT(FirstName, " ", LastName) AS "Customer Name", PhoneNumber AS "Phone Number", Email
FROM Customers
INNER JOIN Bookings ON Bookings.CustomerID = Customers.CustomerID
INNER JOIN Orders ON Bookings.BookingID = Orders.BookingID
WHERE Orders.BillAmount > 60;
"""

Executing query and fetching results and column names

In [ ]:
cursor.execute(customer_promotion_query)

results = cursor.fetchall()

cols = cursor.column_names

Printing results in an easy to read format

In [32]:
print("Customers whose spent 60.00 or more \n")

for i in range(3):
    print(cols[0], ":", results[i][0])
    print(cols[1], ":", results[i][1])
    print(cols[2], ":", results[i][2])
    print("\n")

Customers whose spent 60.00 or more

Customer Name : Joakim Adams
Phone Number : 6264872343
Email : jadams@email.net


Customer Name : Anna Iversen
Phone Number : 9092345432
Email : aiversen@email.com


Customer Name : Marcos Romero
Phone Number : 8487834050
Email : None